<mat-card class="textcard">
  <h3>AITA For killing a general from Iran?</h3>
  <p>I'm the president of a large and powerful western country, and sometimes I conduct dronestrikes in the middle east. One day my drone strike accidentally killed an important general from Iran and now Iran is really mad at me. AITA?

  EDIT: Thanks for all the support. After careful conside  ration and all of your input, I've decided that a full land invasion of Iran complete with tactical nukes on all major cities is necessary, the bombings will commence shortly.
</p>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Mat Watson</mat-card-title>
    <mat-card-subtitle class="seller-type">top seller</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.lifewire.com/thmb/J2Q6R7gQwpoIMN87_VUm7EqVoeQ=/1500x1500/filters:fill(auto,1)/1LW4154610HeroSquare-930a91489a594b1293a03b5d53359feb.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      I have a playstaion 4 in good condition comes with controller and cables. I ship internainally
      and avalible for pick up. 
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
