<mat-toolbar>
  <img class="logo" width="50px" height="50px" src="assets/mint-logo.png">

  <a href="home" mat-button> Mint </a>

  <div fxShow="true" fxHide.lt-md="true">

        <!-- The following menu items will be hidden on both SM and XS screen sizes -->

        <a href="home/timesheet" mat-button>Menu Item 1</a>

        <a href="#" mat-button>Menu Item 2</a>

        <a href="#" mat-button>Menu Item 3</a>

        <a href="#" mat-button>Menu Item 4</a>

        <a href="#" mat-button>Menu Item 5</a>

        <a href="#" mat-button>Menu Item 6</a>

      </div>
</mat-toolbar>
